<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jamsaz.PersonnlsApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Jamsaz.PersonnlsApplication.Properties.Settings>
            <setting name="PathTemplate" serializeAs="String">
                <value>\\atlas\Personnel Manager Software\Template\</value>
            </setting>
            <setting name="PathPersonnelsImage" serializeAs="String">
                <value>\\atlas\Personnel Pictures\</value>
            </setting>
        </Jamsaz.PersonnlsApplication.Properties.Settings>
    </userSettings>
</configuration>